/* styles.module.css */

.cart {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

.productsContainer {
    margin-bottom: 20px;
}

.totalPrice {
    font-size: 23px;
    color: #4CAF50;
    margin-bottom: 40px;
    text-align: end;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.emptyButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    background-color: #f44336;
    color: #fff;
}

.emptyButton:hover {
    background-color: #d32f2f;
}

.checkoutLink {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
}

.checkoutLink:hover {
    background-color: #45a049;
}

.emptyCartMessage {
    color: #555;
    font-size: 18px;
}