.container {
    text-align: center;
    margin-bottom: 10px;
}


.btn {
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: rgb(34, 175, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    margin-top: 10px;

}

.btn:hover {
    background-color: rgb(0, 128, 0);

}

.numero {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 20px;
    height: 10px;

}